@charset "utf-8";
/* Master.css */

/*General Styles*/

* {
	margin: 0;
	padding: 0;;

}

body{
	background: url(../images/bg.jpg) top center no-repeat; 
	font-family: Verdana, Helvetica, Arial;
	font-size: 12px;
}

button {
	margin-top: 10px;
}

input, textarea, label, select {
	display:block;
	width: 275px;
}

	label {
		color: #6a85a4;
		font-size: 13px;
		font-weight: bold;
		margin: 6px 0 3px 0;
	}
	
	#addContact label {
		color: #74996a;
		font-size: 14px;
	}

.inputGroup input, .inputGroup select {
	display:inline;
	width: inherit;
}

.clear {
	clear: both;
}
/*Control Bar*/

#controlBarWrapper, #signInTop {
	background: url(../images/toolBarBG.gif) repeat-x;
	height: 40px;
}

#controlBarContent {
	margin: 0 auto;
	width: 964px;
}

#controlBarContent h1, #signInTop h1 {
	border-left: solid 1px #292929;
	color: #cedfe6;
	float: left;
	font-size: 20px;
	line-height: 40px;
	padding-left: 30px;
}
	#controlBarContent h1 span, #signInTop h2 {
		color: #505c61;
		font-weight: normal;
	}
	
	#signInTop h2 {
		float: left;
		font-size: 20px;
		line-height: 40px;
		margin-left: 30px;
	}
	
.logout {
	display:block;
	float: left;
	padding: 10px 10px;
}

.logout:hover {
	background: url(../images/toolBarOver.gif) repeat-x;
}

#addContact {
	background:#fff url(../images/addBG.gif) repeat-x;
	border-left: solid 2px #fff;
	border-right: solid 2px #fff;
	float: right;
	margin-right: 13px;
	padding: 0 12px 12px 12px;
	width: 280px;	
}

	#addContact fieldset {
		background: url(../images/addBGarrow.gif) right top no-repeat;
		border: none;
		border-collapse: collapse;
	}
		
		#addHeader {
			margin-left: 0px;
			color: #7bbb3d;
			font-size: 20px;
			font-weight: bold;
			line-height: 40px;
			letter-spacing: -1px;
			margin-top: 20px;
		}

#addBtn {
	border-left: solid 1px #292929;
	border-right: solid 1px #292929;
	cursor: pointer;
	float: right;
	margin-right: 13px;
	padding-right: 30px;
	width: 168px;
}

	#addBtn span {
		background: url(../images/addIcon.png) right no-repeat;
		color: #fff;
		display: block;
		font-size: 14px;
		height: 30px;
		padding-top: 10px;
		text-align: center;
	}
	
/* Sign In Content */

#signInBody {
	background:#fff url(../images/addBG.gif) repeat-x;
	border-left: solid 2px #fff;
	border-right: solid 2px #fff;
	margin: 30px auto;
	padding: 0 12px 12px 12px;
	width:280px;
}

#createAccount {
	margin-top: 20px;
	color: #99bfeb;
	cursor: pointer;
}

	#signInBody fieldset {
		border: none;
	}
	
/* Interface Content */

#interfaceContent {
	margin: 0 auto;
	width: 964px;
}

/*Contact Widget*/

.contactWidget {
	background: #f0f0f0;
	display: block;
	float: left;
	margin: 13px 13px 0 0;
	padding: 6px;
	width: 296px;
}

	.contact, .contactWidget form {
		background: #fff;
		border: #dfdfdf solid 1px;
		clear: both;
		padding: 6px;
		margin-top: 6px;
	}
	
	.contact {
		height: 80px;
	}
	
	.contactWidget img, #addContact img {
		background: #fafafa;
		border: #dfdfdf solid 1px;
		display: block;
		float: left;
		margin: 0 12px 12px 0;
		padding: 6px;
	}
	
		.contactWidget form img, #addContact img {
			float: none;
		}
		
		#addContact img {
			margin: 0;
		}
	
	.contact .clear {
		clear:left;
	}
	
		a.collapse {
			color: green;
			display: block;
			float: right;
			margin-bottom: 6px;
			text-align: right;
			width: 50px;
		}
		

	.contactWidget fieldset {
		border: none;
	}

